.footer
{
    width: 100%;
    margin-top: 10px;
    background-color: rgb(126,126,126);
    color: white;
    height: 30px;
    text-align: center;
    /* position: absolute;
    bottom: 0; */
}
a
{
    color: white;
    text-decoration: none;
}
a:hover
{
    color: orangered;
}