.todoo
{
    line-height: 20px;
    align-items: center;
    border-bottom: 1px solid rgb(160, 160, 160);
}
.item
{
    color:rgb(126,126,126);
    margin: 10px 15px 0px 0px;
}
.titre
{
    font-size: 12px;
    font-weight: bold;
}
.dsc
{
    font-size: 12px;
}
.img
{
    float: right;
    text-align: right;
}