<nav class="row menu">
    <div class="col-4">
        <div class="titre">
            <i class="fa fa-folder-open-o white" aria-hidden="true"></i><strong class="red">P</strong>ersonal<strong
                class="red"> P</strong>roject<strong class="red">
                O</strong>rganizer
        </div>
    </div>
    <div class="col-5">
        <div class="row">
            <a class="nav-link bouton" (click)="linkMenu('accueil')" [class.active]="menu.accueil">
                <span>Accueil</span>
            </a>
            <a class="nav-link bouton" (click)="linkMenu('todoo')"  [class.active]="menu.todoo" >
                <span>Todoo</span>
            </a>
            <a class="nav-link bouton" (click)="linkMenu('projet')" [class.active]="menu.projet" >
                <span>Projets</span>
            </a>
            <a class="nav-link bouton" (click)="linkMenu('boiteidee')" [class.active]="menu.boiteidee" >
                <span>Idées</span>
            </a>
            <a class="nav-link bouton" (click)="linkMenu('about')" [class.active]="menu.about">
                <span>About</span>
            </a>
        </div>
    </div>
    <div class="col-3">
        <span class="lien">
            <a class="bouton2" href="https://www.facebook.com/ncheron" target="_blank"><i
                    class="fa fa-facebook-official" aria-hidden="true"></i></a>
            <a class="bouton2" href="" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a class="bouton2"
                href="https://fr.linkedin.com/in/nicolas-cheron-896b3015?trk=people-guest_profile-result-card_result-card_full-click"
                target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a class="bouton2" href="https://twitter.com/ncheron_bourse?lang=fr" target="_blank"><i
                    class="fa fa-twitter" aria-hidden="true"></i>
            </a>
        </span>
    </div>
</nav>