.container-fluid
{
    margin-top: 1px;
}
.label
{
    color:white;
    background-color: #7E7E7E;
    border-radius: 5px;
}
.details
{
    min-height: 125px;
    padding-bottom: 20px;
}
.titre
{
    height: 30px;
}
.description
{
    height: 60px;
}
.orange
{
    color:orangered;
}
