<h5>Projets</h5>
<div class="nav">
    <div>
        <button type="button" class="btn">
            <a class="nav-link" routerLink="/projet/court">Court terme</a>
        </button>
    </div>
    <div>
        <button type="button" class="btn">
            <a class="nav-link" routerLink="/projet/moyen">Moyen terme</a>
        </button>
    </div>
    <div>
        <button type="button" class="btn">
            <a class="nav-link" routerLink="/projet/long">Long terme</a>
        </button>
    </div>
</div>