<div class="container-fluid">
        <H5 class="titre">
                <i class="fa fa-list-ul" aria-hidden="true"></i><strong class="orange"> T</strong>odoo<strong
                        class="orange">L</strong>ist
        </H5>


        <div class="menu">
                <div class="offset-4 col-6 float">
                        <a class="nav-link bouton" routerLink="/todoo/quotidien">
                                <span><strong class="orange">D</strong>aily</span>
                        </a>
                        <a class="nav-link bouton" routerLink="/todoo/hebdomadaire">
                                <span><strong class="orange">S</strong>wing</span>
                        </a>
                        <a class="nav-link bouton" routerLink="/todoo/mensuel">
                                <span><strong class="orange">L</strong>ong</span>
                        </a>
                </div>
        </div>
        <div class="row">
                <div class="col-3">
                        <app-todoo-add></app-todoo-add>
                </div>
                <div class="col-6">
                        <router-outlet></router-outlet>
                </div>
                <div class="col-3">
                        <app-todoo-detail></app-todoo-detail>
                </div>
        </div>
</div>