.container-fluid
{
    margin-top: 10px;
    text-align: center;
}
.titre
{    
    color:white;
    padding: 15px 0px 15px 0px;
    background-color:rgb(126, 126, 126);
    border-radius:10px;
}
.orange
{
    color:orangered;
    
}
.menu
{
    border-radius:10px;
    background-color:rgb(126, 126, 126);
    margin-right: 0px;
   
}
a
{
    margin-left: 5px;
    margin-right: 5px;
    color:white;
}
a:hover
{
    background-color:rgb(100, 100, 100);
    border-radius: 5px;
}
.bouton
{
    margin-left: 40px;
    margin-right: 40px;
}