<div class="row menu">
    <div class="offset-4 col-6">
        <div class="row">
            <a class="nav-link bouton" routerLink="/todoo/quotidien">
                <span><strong class="orange">D</strong>aily</span>
            </a>
            <a class="nav-link bouton" routerLink="/todoo/hebdomadaire">
                <span><strong class="orange">S</strong>wing</span>
            </a>
            <a class="nav-link bouton" routerLink="/todoo/mensuel">
                <span><strong class="orange">L</strong>ong</span>
            </a>
        </div>
    </div>
</div>