<div class="row">
    <div class="col-2">
        <div class="menu">
            <div class="titre">
                    <i class="fa fa-list-ul" aria-hidden="true"></i><strong class="orange"> T</strong>odo<strong
                    class="orange">L</strong>ist
            </div>
            <div class="nav">
                <div>
                    <button type="button" class="btn">
                        <a class="nav-link" routerLink="/todoo/quotidien">Daily</a>
                    </button>
                </div>
                <div>
                    <button type="button" class="btn">
                        <a class="nav-link" routerLink="/todoo/hebdomadaire">Swing</a>
                    </button>
                </div>
                <div>
                    <button type="button" class="btn">
                        <a class="nav-link" routerLink="/todoo/mensuel">Long</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-10">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>