.container-fluid
{
    margin-top: 1px;
}
.formulaire
{
    color:white;
    background-color: #7E7E7E;
    border-radius: 15px;
    padding-top: 15px;
}
.txt
{
    width: 90%;
    min-height: 30px;
    color:rgb(82, 82, 82);
    margin:5px 10px 5px 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    
}
.titreh6
{
    font-weight: bold;
    margin:0px 15px 10px 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color:rgb(82, 82, 82);
    background-color: white;
    border-radius: 10px;

}
.btn
{
    background-color:rgb(82, 82, 82);
    color:white;
    margin-bottom: 10px;
}
.addTodoo
{
    margin-top: 25px;
}
.orange
{
    color:orangered;
}