.container-fluid
{
    text-align: center;
}
.menu
{
    margin-top: 30px;
    margin-left: 30px;
    height:650px;
    border-radius:10px;
    background-color:rgb(126, 126, 126);
    text-align: center;
}
.titre
{
    color:white;
    padding-top: 15px;
}
.orange
{
    color:orangered;
    
}
a
{
    margin-left: 5px;
    margin-right: 5px;
    color:white;
}
a:hover
{
    background-color:rgb(100, 100, 100);
    color:orangered;
    border-radius: 5px;
}
