<div class="container-fluid">
    <div class="row titre">
        <h5>Bonjour {{title}}, voici la sythèse des travaux et projets en cours</h5>
    </div>
    <div class="row section">
        <div class="col-4 module">
            <h6><i class="fa fa-list-ul" aria-hidden="true"></i><strong class="orange"> T</strong>odo<strong
                    class="orange">L</strong>ist</h6>
                    <div>
                        <ul>
                            <li>Tu as <strong class="orange">{{todoosDaily}}</strong> tâches dans la liste Intra-day dont 
                                <strong class="orange"> {{urgentDaily}} </strong> importante(s).</li>
                            <li>Tu as <strong class="orange">{{todoosSwing}}</strong> tâches dans la liste Swing  dont 
                                <strong class="orange"> {{urgentSwing}} </strong> importante(s).</li>
                            <li>Tu as <strong class="orange">{{todoosLong}}</strong> tâches dans la liste Long  dont 
                                <strong class="orange"> {{urgentLong}} </strong> importante(s).</li>
                        </ul>
                    </div>
        </div>
        <div class="col-4 module">
            <h6><i class="fa fa-folder-open-o white" aria-hidden="true"></i><strong class="orange"> P</strong>rojets</h6>
            <div>
                <ul>
                    <li>Tu as <strong class="orange">X</strong> projets de court terme.</li>
                    <li>Tu as <strong class="orange">X</strong> projets de moyen terme.</li>
                    <li>Tu as <strong class="orange">X</strong> projets de long terme.</li>
                </ul>
            </div>
        </div>
        <div class="col-4 module">
            <h6><i class="fa fa-lightbulb-o" aria-hidden="true"></i><strong class="orange"> I</strong>dées</h6>
            <ul>
                <li>Tu as <strong class="orange">X</strong> idées dans pêle-mêle.</li>
            </ul>
        </div>

    </div>
</div>